<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">

        </head>

<body>


<table class="table text-center">
<tr>
<th> Promo Name </th>
<th> Promo Code </th>
<th> Amount </th>
<th></th>
</tr>
<% promo.forEach((promo)=>{ %>
<% if (promo.status == "Active") { %>
<tr>
<td><%- promo.name %></td>
<td><%- promo.code %></td>
<td><%- promo.amount %></td>
<td><a href="/pos/apply-promo/promo-code=<%- promo.code %>/oid=<%- order.oid %>"> Apply Promo </td>
</tr>
<% } %>
<% }) %>
