<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">

        </head>

<body>



<table class="table text-center">
<tr>
<th colspan="1"></th>
<th>Order No.</th>
<th>Order Date</th>
<th>Total</th>
<th>Status</th>
<th>Processed By</th>
<th></th>
</tr>
<% order.forEach((order)=>{ %>
<tr>
<% if (order.status == "Created") { %>
<td colspan="1"><i class="bi bi-emoji-neutral" title="Waiting for re-routing"></i></td>
<% } else if (order.status == "Assigned") { %>
<td colspan="1"><i class="bi bi-hourglass-split" title="Waiting for completion"></i></td>
<% } else if (order.status == "Ready") { %>
<td colspan="1"><i class="bi bi-uploaded" title="Ready for delivery"></i></td>
<% } else if (order.status == "Picked-up") { %>
<td colspan="1"><i class="bi bi-truck" title="Dispatched"></i></td>
<% } else if (order.status == "Dispatched") { %>
<td colspan="1"><i class="bi bi-box-seam" title="Delivered"></i></td>
<% } else if (order.status == "Completed") { %>
<td colspan="1"><i class="bi bi-check text-success" title="Item Received"></i></td>
<% } else if (order.status == "Creating") { %>
<td colspan="1"><i class="bi bi-three-dots" title=""></i></td>
<% }%> 
<% if (order.status == "Creating") { %>
<td><a href="/pos/oid=<%- order.oid %>"><%- order.oid %></a></td>
<% } else { %>
<td><a href="/pos/oid=<%- order.oid %>/order-information"><%- order.oid %></a></td>
<% } %>
<td><%- moment(order.createdOn).format("MM/DD/YYYY") %></td>
<td>PHP <%- order.total %></td>
<td><%- order.status %></td>
<td><%- order.createdBy %></td>
<% if (order.status == "Created") { %>
<td><a href="/pos/oid=<%- order.oid %>/transfer" data-bs-target="#Frame" data-bs-toggle="modal" onclick="Click(this)"> Transfer </a></td>
<% } %>
</tr>

<% }) %>
</table>