<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">

        </head>

<body>

<table class="table">
<tr>
<th>Batch</th>
<th> Qty </th>
<th> Product </th>
<th> Variant </th>
<th> Unit Price </th>
<th> Total </th>
</tr>
<% purch.forEach((purch)=>{ %>
<tr>
<td><%- purch.batchNo %></td>
<td><%- purch.qty %></td>
<td><%- purch.product %></td>
<td><%- purch.variant %></td>
<td>PHP <%- purch.unit %></td>
<td>PHP <%- purch.cost %></td>
</tr>
<% }) %>





