<%- include("../_partials/_initial") %>

<script>
$(document).ready(()=>{
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        $("#purchases").html(this.responseText);
        $("#total").val();
    };
    xhttp.open("GET", "/pos/oid=<%- order.oid %>/purchased");
    xhttp.send();
})


function Prod() {
    var batch = document.getElementById("batch").value;

    $.ajax({
        type:"GET",
        url:"/pos/oid=<%- order.oid %>/items",
        data:{
            batch:batch
        },
        success: function (e) {
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            document.getElementById("items").innerHTML = e;
        }
        xhttp.open("GET","/pos/oid=<%- order.oid %>/items");
        xhttp.send();
        console.log("Working");
        console.log(e);
        },
        error: function(e) {
            var x = document.getElementById("snackbar");
            x.innerHTML = cx.responseText;
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            var xhttp = new XMLHttpRequest;
        }
    })

}

function Click(r) {
    console.log(r.href);
    $("#setQty").attr("action", r.href);
}

function removeProd(r) {
    $.ajax({
        type:"GET",
        url:r.href,
        success:function(e) {
            var x = document.getElementById("snackbar");
            x.innerHTML = e;
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    $("#purchases").html(this.responseText);
                };
                xhttp.open("GET", "/pos/oid=<%- order.oid %>/purchased");
                xhttp.send();
        },
        error: function(e) {
            var x = document.getElementById("snackbar");
            x.innerHTML = e.responseText;
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    })
}

$(document).on('submit', "#setQty", function(event) {
    event.preventDefault();
    var qty = document.getElementById("qty").value;
    console.log("Quantity " + qty);
    var action = $("#setQty").prop("action")

    $.ajax({
        type:"POST",
        url: action,
        data:{
            qty:qty
        },
        success:function(e) {
            var x = document.getElementById("snackbar");
            x.innerHTML = "Product Added";
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    $("#purchases").html(this.responseText);
                    $("#total").val(e.total);
                    $("#totalofall").val(e.total);
                    $("#qty").val("0");
                };
                xhttp.open("GET", "/pos/oid=<%- order.oid %>/purchased");
                xhttp.send();
        },
        error:function(e) {
            var x = document.getElementById("snackbar");
            x.innerHTML = e.responseText;
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    })

})
function Discount() {
    var discount = $("#discount").val();
    var amount = $("#totalofall").val();
    var fee = $("#fee").val();

    var disc = (amount * 1) - (discount * 1) + (fee * 1);
    var fix = disc.toFixed(2);
    
    $("#total").val(fix);

}
function Promo(r) {
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        document.getElementById("promo").innerHTML = this.responseText;
    }
    xhttp.open("GET", r.href);
    xhttp.send();
}

function CloseQty() {
    var modal = document.getElementById("Frame");
    var qty = document.getElementById("qty");

    document.getElementById("qtycls").click();
    

}

</script>

<% if (order.assigned == false) { %>

<script>
$(document).ready(function(){
    $("#btn").click();
    console.log("Clicked")
    
})

var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
	document.getElementById("frame").innerHTML = this.responseText;
}
xhttp.open("GET","/pos/oid=<%- order.oid %>/assign")
xhttp.send();

function Change() {
    var type = $("#type").val();
    if (type == "Existing Customer") {
        $("#cx").prop("disabled",true);
        $("#street").prop("disabled",true);
        $("#city").prop("disabled",true);
        $("#existing").show();
        $("#contact2").attr("required",true);
    } else {
        $("#cx").prop("disabled",false);
        $("#street").prop("disabled",false);
        $("#city").prop("disabled",false);
        $("#new").show();
        $("#existing").hide();
        $("#contact").attr("required",true);
    }
}

function SearchContact() {

    var contact = $("#contact").val();
    console.log(contact);

    $.ajax({
        type:"POST",
        url:"/pos/oid=<%- order.oid %>/search-contact=" + contact,
        success: (cx) =>{
            $("#cx").val(cx.name);
            $("#street").val(cx.street);
            $("#city").val(cx.city);
            $("#cx").prop("disabled",true);
            $("#street").prop("disabled",true);
            $("#city").prop("disabled",true);
            $("#contact2").prop("disabled",true)
        },
        error:(cx) =>{
            var x = document.getElementById("snackbar");
            x.innerHTML = cx.responseText;
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            var xhttp = new XMLHttpRequest;
        }
    })
}



</script>

<button type="button" style="display:none" data-bs-toggle="modal" data-bs-target="#Frame" id="btn">Toggle</button>
 
<div class="modal fade " id="Frame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Register Customer</h1>
      </div>
      <div class="modal-body">
        <div id="frame">

        </div>
      </div>
      <div class="modal-footer">
        <p> Erossential 2023 </p>
        
      </div>
    </div>
  </div>
</div>




<% } %>

<div class="modal fade " id="Promo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Promotions Selector</h1>
        <button type="button" id="cls" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="promo">

        </div>
      </div>
      <div class="modal-footer">
        <p> Erossential 2023 </p>
        
      </div>
    </div>
  </div>
</div>


<div class="row">

<div class="col-md-4">
<div class="card">
<div class="card-body" style="height:500px">

<div id="purchases">

</div>

</div>
</div>
</div>

<div class="col-md-4">
<div class="card">
<div class="card-body" style="height:500px">

<div class="row align-items-center g-1">
<div class="col-auto">
<select class="form-select" name="batch" id="batch" onchange="Prod()">
<option disabled selected> Product Batch </option>
<% batch.forEach((batch)=>{ %>
<option value="<%- batch.batchNo %>"><%- batch.batchNo %></option>
<% }) %>
</select>
</div>
<div class="col-auto">
<a href="/pos/apply-promo/oid=<%- order.oid %>" class="btn btn-outline-success" title="Apply Promo" data-bs-toggle="modal" data-bs-target="#Promo" onclick="Promo(this)"><i class="bi bi-percent"></i></a>
</div>
</div>
<hr>

<div id="items">

</div>

</div>
</div>
</div>


<div class="col-md-4">
<div class="card">
<div class="card-body" style="height:300px">

<% order.customer.forEach((customer)=> { %>
<div class="row align-items-center g-3">

<div class="col-auto">
<label><b> Name </b></label>
</div>
<div class="col-auto">
<%- customer.name %>
</div>

<div class="col-auto">
<label><b> Contact </b></label>
</div>
<div class="col-auto">
<%- customer.contact %>
</div>
</div>

<div class="row align-items-center g-3">
<div class="col-auto">
<label><b> Street </b></label>
</div>
<div class="col-auto">
<%- customer.street %>
</div>

<div class="col-auto">
<label><b> City </b></label>
</div>
<div class="col-auto">
<%- customer.city %>
</div>
</div>

<% }) %>

<hr>

<form class="form-signup" method="POST" action="/pos/oid=<%- order.oid %>/check-out">
<div class="row align-items-center">
<div class="col-md-5">
<label for="courier"><b> Courier </b></label>
<input type="text" class="form-control" name="courier" id="courier" placeholder="Courier Name" required>
</div>
<div class="col-md-3">
<label for="courier"><b> Delivery Fee </b></label>
<input type="text" class="form-control" name="fee" id="fee" placeholder="Fee" required>
</div>
<div class="col-md-3">
<label for="courier"><b> Discount </b></label>
<input type="text" class="form-control" name="discount" id="discount" placeholder="Discount" onkeyup="Discount()" required>
</div>
</div>

<div class="row align-items-center">
<div class="col-auto">
<label for="courier"><b> Payment Type </b></label>
<select class="form-select" id="payment" name="payment">
<option disabled selected> Payment Type </option>
<option value="Gcash">Gcash Payment</option>
<option value="COD"> Cash On Delivery </option>
<select>
</div>
<div class="col-auto">
<label for="courier"><b> Total of All </b></label>
<input type="text" class="form-control" name="total" id="total" value="<%- order.total %>" placeholder="Total of All" required>
<input type="hidden" id="totalofall" value="<%- order.total %>">
</div>
</div>
<br>

<textarea class="form-control" id="notes" name="notes" placeholder="Please input notes, if there's any such as customer's request and others"></textarea>


</div>
<div class="card-footer">
<button type="submit" class="btn btn-outline-success"> Check-out </button>
</div>
</div>


</form>


<div class="modal fade l" id="Frame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">EROSSENTIAL POINT-OF-SALES</h1>
        <button type="button" id="qtycls" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="form-signup" method="POST" id="setQty" class="setQty">
            <div class="row align-items-center">
            <div class="col-auto">
            <label for="quantity"><b> Qty : </b></label>
            </div>
            <div class="col-auto">
            <input type="number" min="0" class="form-control" name="qty" id="qty">
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-outline-success" id="setQty" onclick="CloseQty()"> Set Quantity </button> 
            </div>
            </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button"  id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



