<%- include("../_partials/_header") %>
<h3> Welcome Back <%- currentUser.full %> </h3>
<hr>



<div class="row">
<div class="col-auto">

<div class="card">
<div class="card-header"><b>

<div class="row align-items-center g-2">
<div class="col-auto">
News & Updates
</div>
<div class="col-auto">
<a href="/create-comms" data-bs-target="#Frame" data-bs-toggle="modal" onclick="Click(this)" title="Create Communication">
<i class="bi bi-plus-circle fs-5"></i> 
</a>
</div>
</div>
</b></div>
<div class="card-body">

<div id="updates">

</div>

</div>
</div>

<br>


<div class="card">
<div class="card-body">

<div id="online">

</div>

</div>
</div>


</div>

<div class="col-md-5">

<div class="card">
<div class="card-header text-center"> <b> BATCH SALES </b> </div>
<div class="card-body">

<canvas id="batch" style="width:100%;max-width:700px"> 
</canvas>

</div>
</div>

</div>


<div class="col-md-5">

<div class="card">
<div class="card-header text-center"> <b> Batch Expenses </b> </div>
<div class="card-body">

<canvas id="monthly" style="width:100%;max-width:700px"> 
</canvas>

</div>
</div>

</div>

</div>



<div class="modal fade l" id="Frame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Communications</h1>
        <button type="button" id="cls" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="frame">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





<script>

function Click(r) {
var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("frame").innerHTML = this.responseText;
}
xhttp.open("GET", r.href);
xhttp.send();
}

$("body").ready(function(e) {



setInterval(function() {
var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("online").innerHTML = this.responseText;
}
xhttp.open("GET", "/status");
xhttp.send();
console.log("Working")

},1000)

setInterval(function() {
var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("updates").innerHTML = this.responseText;
}
xhttp.open("GET", "/comms");
xhttp.send();
console.log("Working")
},5000)

var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("online").innerHTML = this.responseText;
}
xhttp.open("GET", "/status");
xhttp.send();

var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("updates").innerHTML = this.responseText;
}
xhttp.open("GET", "/comms");
xhttp.send();


console.log(xValues);

var xValues = [<% batch.forEach((batch)=> {%>"<%- batch.batchNo %>" ,<% }) %>]
var yValues = [<% batch.forEach((batch)=> {%>"<%- batch.sales %>" ,<% }) %>];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("batch", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: false,
      text: "PER BATCH SALES"
    }
  }
});

var xValues = [<% batch.forEach((batch)=> {%>"<%- batch.batchNo %>" ,<% }) %>]
var yValues = [<% batch.forEach((batch)=> {%>"<%- batch.expenses %>" ,<% }) %>];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("monthly", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: false,
      text: "PER BATCH Expenses"
    }
  }
});

});
</script>

