<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">

        </head>

<body>


<table class="table" id="table">
<tr>
<th> Batch </th>
<th> Product </th>
<th> Variant</th>
<th> Qty </th>
<th> Price </th>
<th> Sold </th>
</tr>
<% prod.forEach((prod)=>{ %>
<tr>
<td><%- prod.batchNo %></td>
<td><%- prod.productName %></td>
<td><%- prod.variant %></td>
<td><%- prod.qty %></td>
<td><%- prod.price %></td>
<td><%- prod.sold %></td>
</tr>
<% }) %>
</table>

