<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">

        </head>

<body>


<table class="table text-center align-middle">
<tr>
<th colspan="1"></th>
<th> ID </th>
<th> Employee Name </th>
<th> Position </th>
<th> Roles </th>
<th> Actions </th>
</tr>
<% user.forEach((user)=>{ %>
<tr>
<td colspan="1" class="border-end">
<% if (user.online != "Online") { %>
  <span class="position-absolute translate-middle p-2 bg-danger border border-light rounded-circle" title="<%- user.online %>">
    <span class="visually-hidden">Online</span>
  </span>
<% } else { %>
  <span class="position-absolute translate-middle p-2 bg-success border border-light rounded-circle" title="<%- user.online %>">
    <span class="visually-hidden">Offline</span>
  </span>
<% } %>
</td>
<td><a href="/users/user=<%- user._id %>/profile"><%- user.ident %></td>
<td><%- user.full %></td>
<td><%- user.position %></td>
<td><%- user.role %></td>
<td>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/users/user=<%- user._id %>/assign-post" data-bs-target="#Frame" data-bs-toggle="modal" onclick="lhref(this);">Assign Position</a></li>
    <li><a class="dropdown-item" href="/users/user=<%- user._id %>/assign-role" data-bs-target="#Frame" data-bs-toggle="modal" onclick="lhref(this);">Assign Role</a></li>
    <li><a class="dropdown-item" href="/users/user=<%- user._id %>/assign-access" data-bs-target="#Frame" data-bs-toggle="modal" onclick="lhref(this);">Assign Access</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/users/user=<%- user._id %>/log-out" data-bs-target="modal" data-bs-toggle="modal" onclick="lhref2(this)">Log-out</a></li>
    <li><a class="dropdown-item" href="/users/user=<%- user._id %>/reset-password" data-bs-target="modal" data-bs-toggle="modal" onclick="lhref2(this)">Reset Password</a></li>
    <li><a class="dropdown-item" href="#">Suspend Account</a></li>
    <li><a class="dropdown-item" href="#">De-activative</a></li>
  </ul>
</div>
</td>
</tr>
<% }) %>